/**
 * Developed by Anthony Cox in 2026
 */
.dialog-content-container {
  border: none;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0px;
  max-width: 1280px;
  min-height: 110px;
  min-width: 360px;
  padding-bottom: 16px;
  padding-top: 16px;
  width: 100%;
}

.dialog-content-inner {
  width: auto;
}
